<h2>Edit Event</h2>

  <form action="/events/<%= @event.id %>" method="post">
      <label for="name">Title:</label>
      <input type="text" name="title" id="title" value="<%= @event.title %>"><br>

      <label for="start_time">Start time:</label>
      <input type="date" name="starting_date" id="starting_date" value="<%= @event.starting_date %>"><br>
      <input type="time" name="starting_time" id="starting_time" value="<%= @event.starting_time %>"><br>



      <label for="end_time">End time:</label>
      <input type="date" name="ending_date" id="ending_date" value="<%= @event.ending_date %>"><br>
      <input type="time" name="ending_time" id="ending_time" value="<%= @event.ending_time %>"><br>

      <label for="location">Location:</label>
      <input type="text" name="location" id="location" value="<%= @event.location %>"><br>


      <input type='submit' value="Update event">
  </form>
