<h2>Edit Appointment</h2>

  <form action="/appointments/<%= @appointment.id %>" method="post">
      <label for="name">Title:</label>
      <input type="text" name="title" id="title" value="<%= @appointment.title %>"><br>

      <label for="start_date">Start date:</label>
      <input type="date" name="start_date" id="start_date" value="<%= @appointment.start_date %>"><br>
      <label for="start_time">Start time:</label>
      <input type="time" name="start_time" id="start_time" value="<%= @appointment.start_time %>"><br>


      <label for="end_date">End date:</label>
      <input type="date" name="end_date" id="end_date" value="<%= @appointment.end_date %>"><br>
      <label for="end_time">End time:</label>
      <input type="time" name="end_time" id="end_time" value="<%= @appointment.end_time %>"><br>

      <label for="location">Location:</label>
      <input type="text" name="location" id="location" value="<%= @appointment.location %>"><br>

      <label for="priority">Priority:</label>
      <input type="radio" name="priority" value="1" checked> 1<br>
      <input type="radio" name="priority" value="2"> 2<br>
      <input type="radio" name="priority" value="3"> 3<br>
      <input type="radio" name="priority" value="4"> 4<br>
      <input type="radio" name="priority" value="5"> 5


      <input type='submit' value="Update appointment">
  </form>
